<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "about.jpg" %>
	</div>
	<div id="content">
		<h1>Hola, soy Jorge Botello</h1>
		<p>"Hago cosas interesantes para la web."</p>
		<p>Soy Diseñador | Desarrollador Web & Investigador de Seguridad, estoy en proceso de enseñanza con Ruby on Rails :) y ponente en varias comunidades de informática.</p>
		<p>A lo largo de mi experiencia laboral me he podido desempeñar en diferentes cargos, logrando adaptarme a cada uno de ellos y desarrollando a cabalidad las funciones para las cuales he sido contratado, de la misma manera he desarrollado habilidades en diferentes áreas de la Ingeniería de Software como lo es el Análisis, Diseño y Desarrollo de aplicaciones, Soporte y Administración de Bases de datos así como la gerencia de proyectos informáticos.He trabajado en la industria de TI durante más de 4 años. Mi Twitter <a href="http://twitter.com/jorgbot">@jorbot</a> o mi sitio web <a href="http://mrjorgebotello.pe.hu/">mrjorgebotello.pe.hu</a></p>
	</div>
</div>